#line {
    width: 10%;
    background-color: black;
    height: 5px;
}

body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRPcYXm-zqfhOyFt2n0Z7lcWl4xjt1PVKRvA&usqp=CAU");
    background-size: 100%;
    text-align: center;
}

.player1_div, .player2_div {
    border: 3px ridge black;
    height: 20%;
    margin-left: 450px;
    margin-top: 50px;
    width: 500px;
}

input {
    margin-top: 0px;
}

#btnm {
    margin-top: 50px;
    margin-right: 500px;
    margin-left: 480px;
    background-color: black;
    width: 20%;
}